body {
	font-family: Arial;
	margin: 0;
}

a {
	color: #808080;
	text-decoration: none;
}

span {
	padding-left: 10px;
}

/* ----- INPUT CSS ----- */
button, 
input[type="submit"] {
	background-color: #444;
	border: none;
	border-radius: 10px;
	color: #fff;
	height: 35px;
	margin: 5px 0;
	width: 100px;
}

input[type="email"],
input[type="search"],
input[type="text"],
textarea {
	font-family: Arial;
	min-height: 25px;
	font-size: 15px;
}
/* ----- END INPUT CSS ----- */

/* ----- MENU CSS ----- */
.main-navigation {
	background-color: #d13854;
	display: inline-block;
	float: right;
	margin: 10px 5px;
}

.main-navigation ul {
	list-style-type: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
}

.main-navigation li {
	float: left;
	padding: 12px 10px;
	text-align: center;
	background-color: #d13854;
}

.main-navigation li a {
	color: #fff;
	padding: 12px 10px;
	-webkit-transition: all .2s ease-in-out;
}

.main-navigation li a:hover {
	color: #d13854;
	background-color: #fff;
	-webkit-transition: all .2s ease-in-out
}

li.current-menu-item  a {
	color: #d13854;
	background-color: #fff;
}
/* ----- END MENU CSS ----- */
.container,
.container-page,
.page-header,
.site-info {
	margin: 0 auto;
}

.page-header,
.site-info {
	text-align: center;
}

/* ----- HEADER CSS ----- */
.site-header {
	background-color: #d13854;
	padding-top: 30px;
	overflow: auto;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}

.site-header a {
	text-decoration: none;
}

.container-header {
	min-width: 1300px;
}

.site-branding {
	color: #fff;
	border-radius: 10px;
	height: 110px;
	width: 500px;
	overflow: hidden;
	word-wrap: break-word;
}

.site-branding,
.site-title,
.site-description {
	float: left;
}

.site-branding a {
	color: #fff
}

.site-branding  img{
	float: left;
	height: 100px;
	margin: 5px;
	width: auto;
}

.site-title {
	margin: 15px 10px;
}

.site-description {
	margin-left: 15px;
	margin-top: 0;
}
/* ----- END HEADER CSS ----- */

/* ----- FOOTER CSS ----- */
.site-footer {
	background-color: #a0a0a0;
	height: 100px;
	margin-top: 20px;
	min-width: 700px;
	overflow: hidden;
}

.site-info {
	color: #fff;
	margin-top: 15px;
	padding: 20px;
}

.site-info a {
	color: #fff;
}
/* ----- END FOOTER CSS ----- */

/* ----- SIDEBAR CSS ----- */
.container-widget {
	float: left;
	margin-top: 50px;
	position: inline-block;
	width: 15%;
}

.container-widget [class="screen-reader-text"] {
	display: none;
}

.widget-area {
	margin: 0 auto;
	overflow: visible;
	padding: 10px;
	width: 150px;
}
/* ----- END SIDEBAR CSS ----- */

/* ----- CONTENT CSS ----- */
.container {
	margin-top: 120px;
	min-height: 499px;
	overflow: visible;
	width: 90%;
}

.content-area {
	float: left;
	padding: 5px;
	width: 77%;
	word-wrap: break-word;
}

.content {
	border: 1px solid #dcdcdc;
	border-radius: 10px;
	display: inline-block;
	margin: 15px 0;
	margin-right: 6px;
	padding: 0;
	right: 0;
	width: 300px;
}

.entry-header {
	background-color: #f0f0f0;
	padding: 1px 15px;
}

.entry-header h2,
.entry-header h3 {
	margin-block-start: 15px !important;
    margin-block-end: 10px !important;
}

.entry-content {
	font-size: 0;
	height: 120px;
	overflow: hidden;
	padding: 0px !important;
	width: 100% !important;
}

.entry-content p {
	padding: 15px 25px;
	font-size: 16px;
	word-wrap: break-word;
}

.entry-content img{
	width: 100%;
}

.entry-footer {
	background-color: #f0f0f0;
	border-bottom: 5px solid #d13854;
	height: 30px;
	overflow: hidden;
	padding: 10px 0;
}

span[class="cat-links"] a,
span[class="tags-links"] a {
	background-color: #d13854;
	color: #fff;
	padding: 6px;
}

/* ----- END CONTENT CSS ----- */

/* ----- PAGE CSS ----- */
.container-page {
	margin-top: 120px;
	min-height: 499px;
	overflow: visible;
	width: 700px;
}

.page-header{
	margin-top: 10px;
	padding: 15px;
	width: 500px;
}

.page-area {
	float: left;
	margin-right: 50px;
	padding: 15px;
	position: block;
	width: 500px;
	word-wrap: break-word;
}

.post-page {
	padding: 20px;
	position: inline-block;
	width: 500px;
}

.post-content {
	padding: 0 5px;	
}

.post-footer {
	border-bottom: 5px solid #d13854;
	overflow: visible;
	padding: 10px;
}

.nav-next,
.nav-previous {
	padding: 5px;
}

.nav-previous {
	float: left;
}

.nav-next {
	float: right;
}
/* ----- END PAGE CSS ----- */

/* ----- COMMENT CSS ----- */
.comments-area {
	margin-top: 50px;
	padding: 15px 0;
}

.comments-area  a{
	color: #808080;
}

.comment-list img {
	width: 15px;
	height: auto;
}

.comment-body {
	margin: 20px;
}

.comment-metadata {
	float: right;
}

.comment-respond {
	padding-left: 10px;
}

.comment-form label[for="comment"],
label[for="author"],
label[for="email"],
label[for="url"] {
	display: block;
}
/* ----- END COMMENT CSS ----- */

/* border: 1px solid #000; */